<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="2.1.1.3" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net452" />
  <package id="Fluent.Ribbon" version="5.0.0-dev0442" targetFramework="net452" />
  <package id="WpfAppBar" version="1.6.0" targetFramework="net452" />
</packages>